<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src = "js/todo.js"></script>
    <title>Angular Todo List</title>
</head>
<body>
    <div ng-app="todoListApp" ng-controller="todoController">
        <form ng-submit="addTask()">
            <input type = "text" placeholder="Add New Task" ng-model="title">
            <button>Add</button>
        </form>
        <ul>
            <li ng-repeat="task in tasks track by $index">{{task}} &nbsp; <button ng-click="deleteTask()">Delete</button></li>
        </ul>
    </div>
</body>
</html>